body {
    margin: 0 auto;
    overflow: hidden;
}

.header
{
  position: relative;
  align-items: 'center';
  justify-content: center;
  background-color:#3a404c; 
  height:46px; 
  box-shadow: -1px -19px 12px 13px #08090b;
  padding-inline: 10px;
}

.main-layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    display: flex;
    width: 15%;
    background-color: #3a404c;
    padding: 20px;
}

.main-content {
    display: flex;
    width: 85%;
    flex-direction: row;
    overflow: hidden;
    background-color: bisque;
}

.frame-block {
    width: 80%;
    background-color: rgb(79, 187, 86);
    overflow-y: auto;
    height: 100vh;

}

.props-block {
    background-color: #3a404c;
    width: 20%;
    height: 100vh;

}

/* ...existing styles... */

.frame-container {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2027;
    padding: 0px 20px;
    overflow-y: auto;
    width: 80%;
    height: 100vh;
    
  }
  
  .phone-frame {
    position: relative;
    width: 300px;
    height: 570px;
    padding: 20px 10px;
    padding-bottom: 50px;
    /* background-color: #4d4747; */
    border-radius: 30px;
    border: solid 1px gray;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-top: -40px;
  }
  
  .frame-content {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    /* Other frame content styles */
  }
  
  .app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .block {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px; */
  }

  .draggable-item {
    background-color: #f0f0f0;
    padding: 10px;
    /* margin: 5px; */
    border: solid 1px gray;
    cursor: move;
  }

  .sortable-item {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0px;
    cursor: grab;
  }

  .draggable-container {
    width: 100%;
    height: 100%;
  }

  .sortable-container {
    position: relative;
    width: 100%;
    /* Adjust the width to match your desired phone frame size */
    height: 100%;
    /* Adjust the height to match your desired phone frame size */
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
  }


  .sortable-container::-webkit-scrollbar {
    width: 4px;
  }
   
  .sortable-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .sortable-container::-webkit-scrollbar-thumb {
    background-color: #510888;
    outline: 1px solid rgb(154, 8, 170);
    border-radius: 10px;
  }
  

  .drag-preview {
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    z-index: 9999;
  }

  .lekett-element-container
  {
    position: relative;
  }

  .lekett-block-container
  {
    position: relative;
  }

  .lekett-text-container
  {
    position: relative;
  }

  .lekett-img-container
  {
    position: relative;
  }

  /* (A) LIST STYLES */
  .slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* (B) DRAG-AND-DROP HINT */
  .slist .sortable-item.hint {
    border: 1px solid #ffc49a;
    background: #feffb4;
  }

  .slist .sortable-item.active {
    border: 1px solid #ffa5a5;
    background: #ffe7e7;
  }

  .slist .sortable-item.active.hovered-top {
    border-top: dashed 2px rgb(81, 8, 136);
  }

  .slist .sortable-item.active.hovered-bottom {
    border-bottom: dashed 2px rgb(81, 8, 136);
  }

  .resizable-handler {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 8px;
    height: 8px;
    background-color: #007bff;
    cursor: se-resize;
  }

  .lekett-input{

    background-color: transparent !important;
  }

  .ant-select-selector
  {
    background-color: transparent !important;
  }

  .ant-select-selection-item
  {
    color: #ffffff;
  }
  .alignementRadio
  {
    margin: 5px 5px !important;
    border-radius: 0px !important;
    background-color: transparent;
    /* max-width: 40px; */
    color: #fff;
  }